.todoList {
  list-style-type: none;
  background-color: #ffffff;
  width: 90%;
  max-width: 800px;
  padding-left: 0;
  align-self: center;
  border: 1px solid #d0d0d0;
}
.todoListItem {
  box-shadow: 0 -16px 0 -15px #dfdfdf;
  height: 40px;
  &:hover {
    background: #f6f6f6;
  }
}
