$primary-color: #e30613;
$dark: #402b2b;
$light: #fff;

@keyframes jump {
  0% {
    top: 0;
  }
  30% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Light.eot");
  src: local("Rubik Light"), local("Rubik-Light"),
    url("./assets/fonts/Rubik/Rubik-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rubik/Rubik-Light.woff") format("woff"),
    url("./assets/fonts/Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"),
    url("./assets/fonts/Rubik/Rubik-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rubik/Rubik-Medium.woff") format("woff"),
    url("./assets/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"),
    url("./assets/fonts/Rubik/Rubik-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rubik/Rubik-Bold.woff") format("woff"),
    url("./assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-Regular.eot");
  src: local("Rubik"), local("Rubik-Regular"),
    url("./assets/fonts/Rubik/Rubik-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Rubik/Rubik-Regular.woff") format("woff"),
    url("./assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url("./assets/fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url("./assets/fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url("./assets/fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}
body {
  font-size: 18px;
}
body,
button {
  font-family: "Rubik", sans-serif;
}
p {
  line-height: 1.6;
}
img {
  width: 100%;
}

.layout {
  display: flex;
}
.content-wrap {
  overflow: hidden;
  flex: 1;
  padding: 0 15px;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-bottom: 30px;
}
.btn {
  &-link {
    font-family: "AvenirNextCyr", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    padding: 0;
    color: #ee4d47;
    text-decoration: none;
    &:hover {
      color: #ee4d47;
      text-decoration: none;
    }
    &.back {
      text-decoration: none;
      font-size: 12px;
    }
    & > img {
      max-width: 1.3em;
      vertical-align: initial;
      &:first-child {
        margin-right: 12px;
      }
      &:last-child {
        margin-left: 12px;
      }
    }
  }
  &.btn-primary {
    letter-spacing: 0.05em;
    font-weight: bold;
    padding: 1.1em 2.2em;
    font-size: 0.9em;
    background-color: #ee4d47;
    border: 0;
  }
}
.navbar {
  padding: 2.2em 0;
  &-brand {
    max-width: 112px;
    margin-right: 4vw;
  }
  &-light {
    .navbar-nav {
      .nav-link {
        &.active {
          color: #212353;
          font-weight: 500;
        }
      }
    }
  }
}
.nav-link {
  position: relative;
  font-size: 0.9em;
  color: #4b5d68;
  span {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 12px;
    color: $light;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 200%;
      padding-top: 200%;
      border-radius: 50%;
      background-color: $primary-color;
      z-index: -1;
    }
  }
}
.sidebar {
  background-color: #343333;
  max-width: 22.22%;
  min-height: 100vh;
  padding-top: 2em;
  color: $light;
}
.employee {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2.1em;
  &__img {
    width: 64px;
    margin-right: 0.9em;
  }
  &__name {
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 0;
  }
  &__position {
    font-size: 0.9em;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 0;
  }
}

.img {
  &__cover {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 100%;
    &--rounded {
      border-radius: 50%;
    }
    img {
      right: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      top: 0;
      position: absolute;
      object-position: 50% 50%;
      object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }
}
.egg {
  img {
    max-width: 164px;
    position: relative;
    animation: jump 2s ease-in-out 1s 2;
  }
  &__divider {
    min-height: 17vh;
    border-left: 3px dashed #aaaaaa;
    width: 0px;
    margin: 1em auto;
  }
  &-item {
    margin-bottom: 0.6em;
    &__img {
      margin: 0 auto;
      max-width: 64px;
    }
  }
  &__continue {
    font-family: "Rubik", sans-serif;
    p {
      font-size: 0.9em;
      margin-bottom: 0;
      opacity: 0.47;
    }
    .btn {
      color: $light;
    }
  }
}

.nav-tabs {
  .nav-link {
    flex: 1;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.8;
    text-align: center;
    border: 0;
    color: $dark;
    border-bottom: 2px solid #e1dfdf;
    box-shadow: 0 2px 0 0 transparent;
    transition: 0.3s;
    &.active {
      border-color: $primary-color;
      box-shadow: 0 2px 0 0 $primary-color;
    }
    &:focus {
      outline: none;
    }
  }
}

.tasks-tabs {
  margin-bottom: 30px;
}
.task-item {
  pointer-events: none;
  margin-bottom: 1.9em;
  border-radius: 10px;
  border: 0;
  opacity: 0.24;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.6em 2.7em;
  color: #402b2b !important;
  &.active {
    pointer-events: all;
    background: none;
    opacity: 1;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  }
  &.passed {
    opacity: 1;
    & > * {
      opacity: 0.24;
    }
    &::before {
      content: "ПРОЙДЕНО";
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      left: 0;
      font-weight: bold;
      font-size: 1.4em;
      letter-spacing: 0.1em;
      color: #53b368;
      text-align: center;
      transform: translateY(-50%);
      z-index: 9;
    }
  }
  &__name {
    flex: 1;
    font-weight: 500;
  }
  &__date {
    margin-right: 20px;
  }
}
.task-single {
  &__info {
    align-items: center;
  }
  &__title {
    font-size: 1.5em;
    color: #ee4d47;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__date {
    font-weight: 500;
    color: #212353;
  }
  &__desc {
    p {
      line-height: 2.2;
    }
  }
  &__link.btn{
    text-align: left;
    padding: 1.1em 2.3em 1.1em 1.9em;
    background-color: rgba(252, 221, 212, 0.4);
    color: #000;
    font-size: 1.5em;
    font-weight: 500;
    border: 0;
    border-left: 10px solid #ed4d47;
    word-break: break-all;
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus {
      border-color: #ed4d47;
      color: #000;
      background-color: rgba(252, 221, 212, 1);
      box-shadow: none;
    }
  }
  &__img {
    img {
      position: relative;
      top: 3em;
      right: -5em;
    }
  }
  &__test {
    .btn {
      margin-top: 3em;
    }
  }
}
.form-check {
  padding-left: 2em;
  margin-bottom: 1.5em;
  &-label{
    cursor: pointer;
  }
  &-input {
    margin-top: 0;
    margin-left: -2.25rem;
    width: 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      border-radius: 50%;
    }
    &::before {
      width: 24px;
      height: 24px;
      border: 2px solid #e1dfdf;
      box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    }
    &::after {
      top: 7px;
      left: 6px;
      width: 12px;
      height: 12px;
      background-color: #ee4d47;
      transform: scale(0);
      transition: transform 0.3s;
    }
    &:checked {
      &::after {
        transform: scale(1);
      }
    }
  }
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1em 13vw;
  background: url("./assets/svg/login-bg.svg") no-repeat 100% 50% / contain,
    linear-gradient(305.8deg, #ffedba 6.67%, #ee4d47 91.82%);
  &-form {
    width: 100%;
    max-width: 668px;
    margin: 0 auto;
    padding: 3.1em;
    background-color: $light;
    box-shadow: 0px 500px 40px rgba(244, 125, 103, 0.2);
    border-radius: 20px;
    h3 {
      margin-bottom: 1.9em;
    }
  }
}
.form-control {
  height: auto;
  padding: 1em 0.75em;
  max-width: 364px;
  margin: 0 auto 2em;
  font-size: 1em;
  border: 1px solid #e1dfdf;
  border-radius: 8px;
  &:focus {
    border-color: #402b2b;
    box-shadow: none;
    color: $dark;
  }
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 849px) {
  .employee {
    & ~ div {
      display: none;
    }
    &__img {
      width: 34px;
      margin-right: 0;
    }
    &__info {
      display: none;
    }
  }
  .task-single__img {
    img {
      top: auto;
      right: auto;
    }
  }
}
@media screen and (max-width: 549px) {
  .layout {
    flex-direction: column;
  }
  .sidebar {
    max-width: initial;
    min-height: auto;
    padding-top: 1em;
  }
  .employee {
    margin-bottom: calc(1em - 30px);
    &__img {
      width: 50px;
    }
    &__info {
      display: block;
    }
  }
  .task-single__link {
    font-size: 1.3em;
  }
}
